@import url(./fonts.css);

/* CUSTOM PROPS */

:root {
    --Dark-Charcoal: #312E2C;
    --Wenge-Brown: #5F564D;
    --Dark-Raspberry: #7A284E;
    --Brandy-Red: #854632;
    --Outfit: "Outfit";
    --YoungSerif: "YoungSeif";
    --Eggshell: #F3E5D7;
    --Snow: #FFF7FB;

}

/* Global Styles */


*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--Outfit);
    background-color: var(--Eggshell);
    font-size: 16px;
    padding-top: 123px;
    padding-bottom: 124px;

}

.cards {
    max-width: 736px;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    margin: auto;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;

}

.card-image {
    width: 100%;
    height: 300px;


}

.card-image__photo {
    border-radius: 12px;
    object-fit: cover;

}

.cards-body {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

}

.cards-recipe {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

}

.cards-recipe__headline {
    font-size: 40px;
    font-family: var(--YoungSerif);
    font-weight: 400px;
    line-height: 40px;
    color: var(--Dark-Charcoal);
}

.cards-recipe__desk {

    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--Wenge-Brown);
}

/* preparation__time */
.preparation__time {
    background-color: var(--Snow);
    padding: 28px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

}

.preparation_time-title {
    color: var(--Dark-Raspberry);
    font-size: 20px;
    font-family: var(--Outfit);
    font-weight: 600;
    line-height: 100%;
}

.preparation__time__list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

}

.preparation__time__item {
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.preparation__time__text {
    color: var(--Wenge-Brown);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.preparation__time-span {
    font-weight: 700;

}


/* Ingredients */
.Ingredients {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.ingredients-title {
    color: var(--Brandy-Red);
    font-family: var(--YoungSerif);
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
}

.ingredients-item {
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.ingredients-texts {
    color: var(--Wenge-Brown);
    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.line_site {
    width: 100%;
    height: 1px;
    background-color: #E3DDD7;
}

/* //Ingredients */

/* part 2----------------------------------- */

/*  Instructions*/
.instructions {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.instructions-title {
    color: var(--Brandy-Red);
    font-family: var(--YoungSerif);
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    
    
}



.instructions-itemes {
    display: flex;
    align-items: flex-start;
    column-gap: 16px;
}

.span_text {
    color: var(--Brandy-Red);
    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}

.instructions-textesss {
    max-width: 616px;
    width: 100%;
}

/*  //Instructions*/


.nutrition1 {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.nutrition_title{
    color: var(--Brandy-Red);
    font-family: var(--YoungSerif);
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
}

.nutrition__desk {
    color: var(--Wenge-Brown);
    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.nutrition-tablitsa {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.tablitsa_data {
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

.tablitsa-tekst {
    width: 288px;
    color: var(--Wenge-Brown);
    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.tablitsa-right {
    width: 288px;
    color: var(--Brandy-Red);
    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

